accent-background()
  background-gradient: #E52E56 #DF0030;

accent-ns-border()
  border-top: 1px solid #EE7F96;
  border-bottom: 1px solid #9E1230;

accent-ew-border()
  border-left: 1px solid #EE7F96;
  border-right: 1px solid #9E1230;

accent-border()
  accent-ns-border()
  accent-ew-border()