linespacing()
  line-height: 1.4em;

sans-serif()
  linespacing()
  font-family: 'Droid Sans', sans-serif;

serif()
  linespacing()
  font-family: 'Droid Serif', serif;

monospace()
  linespacing()
  font-family: 'Droid Sans Mono', monospace;