background-transparency(color, alpha = 1)
  ms-color = argb(color, alpha)
  background rgb(color)
  background rgba(color, alpha)
  .lt-ie8 &
    zoom 1
  .lt-ie9 &
    background transparent
    filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)', ms-color, ms-color)
    &:nth-child(n)
      filter none

hex(decimal)
  hex-value = ('0') ('1') ('2') ('3') ('4') ('5') ('6') ('7') ('8') ('9') ('A') ('B') ('C') ('D') ('E') ('F')
  unquote(hex-value[floor(decimal / 16)] + hex-value[floor(decimal % 16)])

argb(color, alpha = 1)
  unquote('#') + hex(alpha * 255) + hex(red(color)) + hex(green(color)) + hex(blue(color))

box-shadow(shadow...)
  -webkit-box-shadow: shadow
  -moz-box-shadow: shadow
  box-shadow: shadow

background-gradient(startColor = #555, endColor = #333)
  background-color: mix(startColor, endColor, 60%)
  background-image: -moz-linear-gradient(top, startColor, endColor) // FF 3.6+
  background-image: -ms-linear-gradient(top, startColor, endColor) // IE10
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(startColor), to(endColor)) // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, startColor, endColor) // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, startColor, endColor) // Opera 11.10
  background-image: linear-gradient(top, startColor, endColor) // The standard
  background-repeat: repeat-x
  filter s('progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)', argb(startColor), argb(endColor))

transition(args...)
  -webkit-transition: args
  -moz-transition: args
  -o-transition: args
  -ms-transition: args
  transition: args

transform(args...)
  -webkit-transform: args;

border-radius(radius)
  -webkit-border-radius: radius
  -moz-border-radius: radius
  border-radius: radius

border-bottom-radius(radius)
  -webkit-border-bottom-right-radius: radius
  -webkit-border-bottom-left-radius: radius
  -moz-border-radius-bottomright: radius
  -moz-border-radius-bottomleft: radius
  border-bottom-right-radius: radius
  border-bottom-left-radius: radius