doctype 5
html
  head
    title
      block title
        | deployasaurus

    != js("main")
    != css("main")

  body
    #header
      .user
        if locals.authUser
          a(href="/")= locals.authUser.username
        else
          a(href="/login") Log in with Github

    block body