doctype 5
html
  head
    title
      block title
        | deployasaur.us

    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:700|Droid+Sans+Mono|Droid+Serif:400,700,400italic', rel='stylesheet', type='text/css')
    != css("main")

  body(class=viewClass(locals))
    #header: .body-container
      .user
        if locals.authUser
          a.profile-link(href="/" + locals.authUser.username)
            span Howdy #{locals.authUser.username}!
            .img
              img(src=locals.authUser.avatarUrl)
              .decoration
          .menu: .menu-container
            a(href="/" + locals.authUser.username) Your profile
            a(href="/logout") Log out

        else
          a.profile-link(href="/login"): span Log in with GitHub

      h1: a(href="/", title="Go to the home page") deployasaur.us

    .body-container
      block body

    #footer: .body-container
      p A project of <a href="http://twitter.com/adunkman">@adunkman</a> <span class="separator">&bull;</span> <a href="http://github.com/adunkman/deployasaur.us">fork the source</a> on GitHub.

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    != js("main")

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37223846-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();