extends ../layout

block prepend title
  | #{user.username} —

block body
  h1
    a.sublink(href="/logout") Log out
    | Your profile

  h2
    a.sublink(href="/create") Create deployment script
    | Active deployment scripts

  if deploys && deploys.length
    ul: each deploy, index in deploys
      li: a(href="/" + deploy.repo + "/" + deploy.branch)= deploy.repo + " " + deploy.branch
  else
    p You haven't configured any repositories to deploy with deployasaurus. <a href="/create">Create a deployment script</a>.