extends ../layout

block prepend title
  | #{user.username} —

block body
  h1 #{user.username}

  h2
    a.sublink(href="/create") Create deployment script
    | Repositories

  if user.deploys && user.deploys.length
    each deploy, index in user.deploys
      a(href="/" + deploy.repo)= deploy.repo
  else
    p You haven't configured any repositories to deploy with deployasaurus. <a href="/create">Create a deployment script</a>.