#header
  background-gradient: #E52E56 #DF0030;
  border-top: 1px solid #EE7F96;
  border-bottom: 1px solid #9E1230;
  padding: 10px 0;
  margin-bottom: 2em;

  text()
    color: #FEF7F9;
    text-shadow: 0 1px 0 #9E1230;
    text-decoration: none;

    &:hover
      color: #fff;
      text-shadow: 0 1px 0 #000;

  h1
    margin: 0;
    font-size: 20px;

    a
      text()

  .user
    text()
    sans-serif()
    display: block;
    float: right;
    font-size: 0.9em;

    .img
      margin-top: -3px;
      width: 32px;
      height: 32px;
      position: relative;
      display: inline-block;
      vertical-align: middle;

      img
        position: absolute;
        width: 30px;
        height: 30px;
        border-top: 1px solid #9E1230;
        border-left: 1px solid #9E1230;
        border-right: 1px solid #EE7F96;
        border-bottom: 1px solid #EE7F96;

      .decoration
        position: absolute;
        top: 1px;
        left: 1px;
        width: 28px;
        height: 28px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    span
      padding-right: 10px;
      line-height: 32px;