#header
  background-gradient: #E52E56 #DF0030;
  border-top: 1px solid #EE7F96;
  border-bottom: 1px solid #9E1230;
  padding: 10px 0;
  margin-bottom: 2em;

  text()
    color: #FEF7F9;
    text-shadow: 0 1px 0 #9E1230;

  h1
    text()
    margin: 0;
    font-size: 20px;

  .user
    text()
    sans-serif()
    text-decoration: none;
    display: block;
    padding: 5px 0;
    font-size: 14px;
    float: right;
    color: #FEF7F9;

    &:hover
      color: #fff;
      text-shadow: 0 1px 0 #000;