h1 a.sublink
  float: right;
  font-size: 0.4em;
  padding: 1em 0;
  linespacing()

h2 a.sublink
  float: right;
  font-size: 0.6em;
  padding: 0.5em 0;
  linespacing()

button()
  sans-serif()
  background-gradient: #E52E56 #DF0030;
  border-top: 1px solid #EE7F96;
  border-left: 1px solid #EE7F96;
  border-right: 1px solid #9E1230;
  border-bottom: 1px solid #9E1230;
  color: #FEF7F9;
  text-shadow: 0 1px 0 #9E1230;
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;

  display: inline-block;
  padding: 5px 15px;
  border-radius: 3px;

  &:hover
  &:focus
    color: #fff;
    text-shadow: 0 1px 0 #000;

  &:active
    text-shadow: 0 -1px 0 #000;
    border-top: 1px solid #9E1230;
    border-left: 1px solid #9E1230;
    border-right: 1px solid #EE7F96;
    border-bottom: 1px solid #EE7F96;

.edit-button
  button()

.delete-button
  button()
  float: right;

.textarea-container
  margin-right: 12px;

textarea
  monospace()
  font-size: 0.9em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  margin: 10px 0;
  padding: 5px;

  width: 100%;
  height: 300px;

button
  button()
  margin: 1em 0;
  display: block;