extends ../layout

block prepend title
  | create deployment script —

block body
  h1 Create deployment script
    p Looking for a few <a href="/create/examples" target="_blank">examples</a>?

  form(id="deploy_form", method="post", action="/create")
    | <label for="repo">When all tests successfully finish for repository </label>
    | <select name="repo" id="repo">

    each repo in repos
      option= repo.name

    | </select>, 
    | <label for="branch">branch</label>
    | <input type="text" id="branch" name="branch"></input>,
    | <label for="script">run this script:</label>

    textarea(name="script", id="script")

    button(type="submit") Save script