extends ../layout

block prepend title
  | deleting deployment script for #{deploy.repo} —

block body
  h1 Deleting deployment script…
    p For #{deploy.repo} #{deploy.branch}

  form(method="post", action="/" + deploy.repo + "/" + deploy.branch + "/delete")
    p There isn’t a way to recover deleted scripts.
    button(type="submit") Delete #{deploy.repo} deployment script