extends ../layout

block prepend title
  | edit deployment script for #{deploy.repo} —

block body
  h1 Edit deployment script
    p For #{deploy.repo}

  form(id="deploy_form", method="post", action="/" + deploy.repo + "/edit")
    p When all tests successfully finish for repository <em>#{deploy.repo}</em>, <label for="script">run this script:</label>

    .textarea-container
      textarea(name="script", id="script")= deploy.script

    button(type="submit") Save script