extends ../layout

block prepend title
  | #{deploy.repo} deployment script —

block body
  h1 Deployment script
    p For #{deploy.repo}

  a.delete-button(href="/" + deploy.repo + "/delete") Delete
  a.edit-button(href="/" + deploy.repo + "/edit") Edit

  code= deploy.script
