extends ../layout

block prepend title
  | #{deploy.repo} deployment script —

block body
  h1 Deployment script
    p For #{deploy.repo} #{deploy.branch}

  a.delete-button(href="/" + deploy.repo + "/" + deploy.branch + "/delete") Delete
  a.edit-button(href="/" + deploy.repo + "/" + deploy.branch + "/edit") Edit

  code= deploy.script
